%script{:type => "text/javascript",
        :src  => "/jquery.js"}

:javascript
  $(document).ready(ready);
  PAGE_SIZE = 2;
  last = null;

  function ready() {
    elements = $('.photos li');

    elements.slice(PAGE_SIZE).children('img').each(prevent_loading);
    $('.photos').show();

    last = $(elements[Math.min(PAGE_SIZE - 1, elements.size() - 1)]);
    $(window).scroll(scrolled);
  }

  function load(index, image) {
    $(image).parent('li').show();
    image.src = $(image).data("src");
  }

  function prevent_loading(index, image) {
    $(image).parent('li').hide();
    $(image).data("src", image.src);
    image.src = "/empty.png";
  }

  function scrolled(){
    if (!last || !last.next()) return;

    if ($(window).height() + 200 >= last.offset().top + last.height() - $(window).scrollTop()) {
      var elements = last.nextAll();
      elements = elements.slice(0, PAGE_SIZE);
      last = (elements.size() > 0 ? $(elements.last()) : null);
      elements.children('img').each(load);
    }
  }

.navigation
  %a{ :href => '/' } home
  \/
  %a{ :href => user_url(params[:username]) }
    ="#{h @album[:author]}"

%h1
  =h @album[:title]

- dimension = 512
%ol.photos{ :style => "display:none"}
  - @album[:photos].each_with_index do |photo, i|
    %li
      %a{ :name => photo[:id] }
      - size = PicasaAPI::photo_size(photo, dimension)
      %img{ :src => PicasaAPI::photo_with_size(photo[:src], dimension), :alt => photo[:title],
            :width => size[:width], :height => size[:height] }
      %div.meta
        - unless photo[:description].empty?
          %p= auto_link_urls(h photo[:description])
        %p.time
          = photo[:time].strftime("%B %d, %Y")

.navigation
  You can view this album on
  %a{ :href => @album[:link] } Picasa
.navigation
  %a{ :href => '/' } home
  \/
  %a{ :href => user_url(params[:username]) }
    ="#{h @album[:author]}"
  = "/ #{h @album[:title]}"
