%script{ :type => "text/javascript", :src  => "/javascript/vendor/jquery.js" }
%script{ :type => "text/javascript", :src  => "/javascript/album.js" }

.navigation
  %a{ :href => '/' } home
  \/
  %a{ :href => user_url(params[:username]) }
    ="#{h @album[:author]}"

#header
  %h1
    =h @album[:title]

  .navigation
    %a{ :href => @album[:link] } on Picasa

.photos
  %noscript<
    %ol
      - small = 400
      - big = 720
      - @album[:photos].each_with_index do |photo, i|
        %li
          - size = PicasaAPI::photo_size(photo, small)
          - size_big = PicasaAPI::photo_size(photo, big)
          %a{ :href => "##{photo[:id]}", :name => photo[:id] }>
            %img{ :src => PicasaAPI::url_for_dimension(photo[:src], small), :width => "#{size[:width]}", :height => "#{size[:height]}",
                  "data-big-src" => PicasaAPI::url_for_dimension(photo[:src], big), "data-big-width" => "#{size_big[:width]}", "data-big-height" => "#{size_big[:height]}",
                  :alt => photo[:title] }>
          %div.meta>
            - unless photo[:description].empty?
              %p>= auto_link_urls(h photo[:description])
            %p.time<>
              = photo[:time].strftime("%B %d, %Y")
            %a{ :href => "##{photo[:id]}", :class => "link", :target => "_new" }> link to this photo
