%h1
  = @user[:name]
  has
  = @user[:albums].size
  albums:

%ol.albums
  - @user[:albums].each do |album|
    %li
      %a{ :href => "/#{params[:username]}/#{album[:id]}/#{album[:uri]}" }
        = album[:title]
